.desktop {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div {
  background-color: #f0f0f0;
  border: 1px none;
  height: 3080px;
  position: relative;
  width: 1440px;
}

.desktop .overlap {
  height: 1024px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.desktop .hero-img-placeholder {
  background-color: #ffffff;
  height: 968px;
  left: 0;
  position: absolute;
  top: 56px;
  width: 1440px;
}

.desktop .x {
  background-image: url(../../../static/img/line-1-1.png);
  background-size: 100% 100%;
  height: 968px;
  position: relative;
}

.desktop .line {
  height: 966px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.desktop .top-bar {
  background-color: #f1f1f1;
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.desktop .overlap-group {
  height: 44px;
  left: 70px;
  position: relative;
  top: 8px;
  width: 1300px;
}

.desktop .top-bar-2 {
  height: 44px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1300px;
}

.desktop .user {
  border-radius: 5px;
  height: 43px;
  left: 1154px;
  position: absolute;
  top: 0;
  width: 148px;
}

.desktop .rectangle {
  background-color: #8a8a8a;
  border-radius: 5px;
  height: 40px;
  left: 106px;
  position: absolute;
  top: 3px;
  width: 40px;
}

.desktop .username {
  color: #000000;
  font-family: "Arial-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 41px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 102px;
}

.desktop .text-wrapper {
  color: #000000;
  font-family: "Arial-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .location {
  height: 41px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 215px;
}

.desktop .vector-wrapper {
  background-image: url(../../../static/img/vector-3.png);
  background-size: 100% 100%;
  height: 32px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 25px;
}

.desktop .vector {
  height: 9px;
  left: 8px;
  position: absolute;
  top: 8px;
  width: 9px;
}

.desktop .los-angeles {
  color: #000000;
  font-family: "Arial-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 41px;
  left: 25px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 188px;
}

.desktop .span {
  color: #000000;
  font-family: "Arial-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .mdi-bell-outline {
  height: 32px;
  left: 1105px;
  position: absolute;
  top: 6px;
  width: 32px;
}

.desktop .head-bar {
  height: 94px;
  left: 70px;
  position: absolute;
  top: 74px;
  width: 1300px;
}

.desktop .group {
  height: 94px;
  position: relative;
}

.desktop .LOGO-placeholder {
  height: 94px;
  left: 0;
  position: absolute;
  top: 0;
  width: 202px;
}

.desktop .LOGO-wrapper {
  background-color: #d9d9d9;
  height: 94px;
  position: relative;
  width: 200px;
}

.desktop .LOGO {
  color: #000000;
  font-family: "Arial-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 48px;
  left: 37px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 22px;
  width: 127px;
}

.desktop .text-wrapper-2 {
  color: #000000;
  font-family: "Arial-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame {
  height: 48px;
  left: 770px;
  position: absolute;
  top: 27px;
  width: 120px;
}

.desktop .bookmarks {
  color: #000000;
  font-family: "Arial-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 23px;
  left: 32px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 12px;
  white-space: nowrap;
}

.desktop .text-wrapper-3 {
  color: #000000;
  font-family: "Arial-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .bookmarks-wrapper {
  height: 48px;
  left: 907px;
  position: absolute;
  top: 27px;
  width: 120px;
}

.desktop .span-wrapper {
  color: #000000;
  font-family: "Arial-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 23px;
  left: 22px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 12px;
  white-space: nowrap;
}

.desktop .text-wrapper-4 {
  color: #000000;
  font-family: "Arial-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .div-wrapper {
  height: 48px;
  left: 1043px;
  position: absolute;
  top: 27px;
  width: 120px;
}

.desktop .bookmarks-2 {
  color: #000000;
  font-family: "Arial-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 23px;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 12px;
  white-space: nowrap;
}

.desktop .text-wrapper-5 {
  color: #000000;
  font-family: "Arial-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .bookmarks-3 {
  height: 48px;
  left: 1180px;
  position: absolute;
  top: 27px;
  width: 120px;
}

.desktop .bookmarks-4 {
  color: #000000;
  font-family: "Arial-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 28px;
  left: 5px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 9px;
}

.desktop .text-wrapper-6 {
  font-family: "Rubik", Helvetica;
  font-weight: 600;
}

.desktop .span-2 {
  font-family: "Rubik", Helvetica;
  font-size: 24px;
  font-weight: 600;
}

.desktop .search-bar {
  height: 72px;
  left: 290px;
  position: absolute;
  top: 392px;
  width: 862px;
}

.desktop .overlap-2 {
  background-color: #ffffff;
  border-radius: 50px;
  height: 72px;
  position: relative;
  width: 860px;
}

.desktop .ion-search {
  height: 48px;
  left: 793px;
  position: absolute;
  top: 12px;
  width: 48px;
}

.desktop .find-the-right {
  color: #00000080;
  font-family: "Arial-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  height: 32px;
  left: 18px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 19px;
  width: 532px;
}

.desktop .text-wrapper-7 {
  color: #00000080;
  font-family: "Arial-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .search-specific {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 125px;
  left: 159px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 435px;
  width: 1122px;
}

.desktop .text-wrapper-8 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-2 {
  height: 48px;
  left: 576px;
  position: absolute;
  top: 544px;
  width: 289px;
}

.desktop .restaurant-wrapper {
  background-color: #c7c7c7;
  border-radius: 24px;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 135px;
}

.desktop .restaurant {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 19px;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 14px;
  white-space: nowrap;
}

.desktop .text-wrapper-9 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .movie-tvs-wrapper {
  background-color: #c7c7c7;
  border-radius: 24px;
  height: 48px;
  left: 151px;
  position: absolute;
  top: 0;
  width: 138px;
}

.desktop .movie-tvs {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 19px;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 14px;
  white-space: nowrap;
}

.desktop .text-wrapper-10 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .overlap-3 {
  height: 1069px;
  left: 70px;
  position: absolute;
  top: 1048px;
  width: 1300px;
}

.desktop .element {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 16px;
  left: 854px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 364px;
  width: 78px;
}

.desktop .text-wrapper-11 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .group-2 {
  border-radius: 5px;
  height: 24px;
  left: 679px;
  position: absolute;
  top: 421px;
  width: 165px;
}

.desktop .frame-3 {
  background-color: #ffffff;
  border-radius: 5px;
  height: 24px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 51px;
}

.desktop .google-logo {
  height: 18px;
  left: 4px;
  position: absolute;
  top: 3px;
  width: 18px;
}

.desktop .element-2 {
  color: #7c7c7c;
  font-family: "Arial-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  height: 14px;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 4px;
  white-space: nowrap;
  width: 21px;
}

.desktop .text-wrapper-12 {
  color: #7c7c7c;
  font-family: "Arial-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-4 {
  background-color: #ffffff;
  border-radius: 5px;
  height: 24px;
  left: 57px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 51px;
}

.desktop .img {
  height: 18px;
  left: 4px;
  position: absolute;
  top: 3px;
  width: 18px;
}

.desktop .element-3 {
  color: #7c7c7c;
  font-family: "Arial-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  height: 14px;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 4px;
  white-space: nowrap;
  width: 21px;
}

.desktop .text-wrapper-13 {
  color: #7c7c7c;
  font-family: "Arial-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-5 {
  background-color: #ffffff;
  border-radius: 5px;
  height: 24px;
  left: 114px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 51px;
}

.desktop .google-logo-2 {
  height: 18px;
  left: 4px;
  position: absolute;
  top: 3px;
  width: 18px;
}

.desktop .element-4 {
  color: #7c7c7c;
  font-family: "Arial-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  height: 14px;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 4px;
  white-space: nowrap;
  width: 21px;
}

.desktop .text-wrapper-14 {
  color: #7c7c7c;
  font-family: "Arial-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .section-restaurant {
  height: 1069px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1300px;
}

.desktop .overlap-4 {
  height: 858px;
  left: 0;
  position: absolute;
  top: 115px;
  width: 1300px;
}

.desktop .section-content-grid {
  height: 858px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1300px;
}

.desktop .card {
  box-shadow: 0px 2px 5px #00000040;
  height: 400px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 316px;
}

.desktop .overlap-group-2 {
  background-color: #e3e3e3;
  border-radius: 10px;
  height: 400px;
  position: relative;
  width: 310px;
}

.desktop .bookmark-wrapper {
  background-color: #ffffff;
  border-radius: 10px 10px 0px 0px;
  height: 231px;
  left: 0;
  position: absolute;
  top: 0;
  width: 310px;
}

.desktop .bookmark {
  height: 32px;
  left: 259px;
  position: absolute;
  top: 0;
  width: 25px;
}

.desktop .overlap-5 {
  height: 75px;
  left: 19px;
  position: absolute;
  top: 233px;
  width: 156px;
}

.desktop .kang-s-wok {
  color: #000000;
  font-family: "Arial-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 45px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 156px;
}

.desktop .text-wrapper-15 {
  color: #000000;
  font-family: "Arial-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .tag-s {
  background-color: #c7c7c7;
  border-radius: 24px;
  height: 32px;
  left: 0;
  position: absolute;
  top: 43px;
  width: 87px;
}

.desktop .restaurant-2 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 17px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 6px;
}

.desktop .text-wrapper-16 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .element-wrapper {
  background-color: #4d4d4d;
  border-radius: 16px/15.92px;
  height: 32px;
  left: 257px;
  position: absolute;
  top: 241px;
  width: 32px;
}

.desktop .element-5 {
  color: #ffffff;
  font-family: "Arial-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  height: 14px;
  left: 5px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 22px;
}

.desktop .text-wrapper-17 {
  color: #ffffff;
  font-family: "Arial-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .lorem-ipsum-dolor {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 25px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 315px;
  width: 259px;
}

.desktop .text-wrapper-18 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 18px;
}

.desktop .card-v {
  box-shadow: 0px 1px 5px #00000040;
  height: 400px;
  left: 0;
  position: absolute;
  top: 458px;
  width: 316px;
}

.desktop .overlap-6 {
  background-color: #e3e3e3;
  border-radius: 10px;
  height: 400px;
  position: relative;
  width: 310px;
}

.desktop .img-wrapper {
  background-color: #ffffff;
  border-radius: 10px 10px 0px 0px;
  height: 231px;
  left: 0;
  position: absolute;
  top: 0;
  width: 310px;
}

.desktop .bookmark-2 {
  height: 32px;
  left: 259px;
  position: absolute;
  top: 0;
  width: 25px;
}

.desktop .overlap-7 {
  height: 75px;
  left: 19px;
  position: absolute;
  top: 233px;
  width: 201px;
}

.desktop .kang-s-wok-2 {
  color: #000000;
  font-family: "Arial-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 45px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 156px;
}

.desktop .text-wrapper-19 {
  color: #000000;
  font-family: "Arial-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .tag-s-2 {
  background-color: #c7c7c7;
  border-radius: 24px;
  height: 32px;
  left: 0;
  position: absolute;
  top: 43px;
  width: 108px;
}

.desktop .restaurant-3 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 17px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 6px;
}

.desktop .text-wrapper-20 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .tag-s-3 {
  background-color: #c7c7c7;
  border-radius: 24px;
  height: 32px;
  left: 114px;
  position: absolute;
  top: 43px;
  width: 87px;
}

.desktop .restaurant-4 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 17px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 6px;
}

.desktop .text-wrapper-21 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .overlap-group-3 {
  background-color: #4d4d4d;
  border-radius: 16px/15.92px;
  height: 32px;
  left: 257px;
  position: absolute;
  top: 241px;
  width: 32px;
}

.desktop .element-6 {
  color: #ffffff;
  font-family: "Arial-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  height: 14px;
  left: 5px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 22px;
}

.desktop .text-wrapper-22 {
  color: #ffffff;
  font-family: "Arial-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .p {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 25px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 315px;
  width: 259px;
}

.desktop .text-wrapper-23 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 18px;
}

.desktop .overlap-wrapper {
  border-radius: 10px;
  box-shadow: 0px 1px 5px #00000040;
  height: 400px;
  left: 330px;
  position: absolute;
  top: 458px;
  width: 316px;
}

.desktop .overlap-8 {
  background-color: #e3e3e3;
  border-radius: 10px;
  height: 400px;
  position: relative;
  width: 310px;
}

.desktop .overlap-group-4 {
  background-color: #ffffff;
  border-radius: 10px 10px 0px 0px;
  height: 231px;
  left: 0;
  position: absolute;
  top: 0;
  width: 310px;
}

.desktop .bookmark-3 {
  height: 32px;
  left: 259px;
  position: absolute;
  top: 0;
  width: 25px;
}

.desktop .overlap-9 {
  height: 75px;
  left: 19px;
  position: absolute;
  top: 233px;
  width: 201px;
}

.desktop .kang-s-wok-3 {
  color: #000000;
  font-family: "Arial-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 45px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 156px;
}

.desktop .text-wrapper-24 {
  color: #000000;
  font-family: "Arial-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .tag-s-4 {
  background-color: #c7c7c7;
  border-radius: 24px;
  height: 32px;
  left: 0;
  position: absolute;
  top: 43px;
  width: 108px;
}

.desktop .restaurant-5 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 17px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 6px;
}

.desktop .text-wrapper-25 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .tag-s-5 {
  background-color: #c7c7c7;
  border-radius: 24px;
  height: 32px;
  left: 114px;
  position: absolute;
  top: 43px;
  width: 87px;
}

.desktop .restaurant-6 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 17px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 6px;
}

.desktop .text-wrapper-26 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .overlap-10 {
  background-color: #4d4d4d;
  border-radius: 16px/15.92px;
  height: 32px;
  left: 257px;
  position: absolute;
  top: 241px;
  width: 32px;
}

.desktop .element-7 {
  color: #ffffff;
  font-family: "Arial-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  height: 14px;
  left: 5px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 22px;
}

.desktop .text-wrapper-27 {
  color: #ffffff;
  font-family: "Arial-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .lorem-ipsum-dolor-2 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 25px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 315px;
  width: 259px;
}

.desktop .text-wrapper-28 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 18px;
}

.desktop .overlap-group-wrapper {
  box-shadow: 0px 1px 5px #00000040;
  height: 400px;
  left: 660px;
  position: absolute;
  top: 458px;
  width: 316px;
}

.desktop .overlap-11 {
  background-color: #e3e3e3;
  border-radius: 10px;
  height: 400px;
  position: relative;
  width: 310px;
}

.desktop .overlap-12 {
  background-color: #ffffff;
  border-radius: 10px 10px 0px 0px;
  height: 231px;
  left: 0;
  position: absolute;
  top: 0;
  width: 310px;
}

.desktop .bookmark-4 {
  height: 32px;
  left: 259px;
  position: absolute;
  top: 0;
  width: 25px;
}

.desktop .overlap-group-5 {
  height: 75px;
  left: 19px;
  position: absolute;
  top: 233px;
  width: 201px;
}

.desktop .kang-s-wok-4 {
  color: #000000;
  font-family: "Arial-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 45px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 156px;
}

.desktop .text-wrapper-29 {
  color: #000000;
  font-family: "Arial-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .tag-s-6 {
  background-color: #c7c7c7;
  border-radius: 24px;
  height: 32px;
  left: 0;
  position: absolute;
  top: 43px;
  width: 108px;
}

.desktop .restaurant-7 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 17px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 6px;
}

.desktop .text-wrapper-30 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .tag-s-7 {
  background-color: #c7c7c7;
  border-radius: 24px;
  height: 32px;
  left: 114px;
  position: absolute;
  top: 43px;
  width: 87px;
}

.desktop .restaurant-8 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 17px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 6px;
}

.desktop .text-wrapper-31 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .overlap-13 {
  background-color: #4d4d4d;
  border-radius: 16px/15.92px;
  height: 32px;
  left: 257px;
  position: absolute;
  top: 241px;
  width: 32px;
}

.desktop .element-8 {
  color: #ffffff;
  font-family: "Arial-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  height: 14px;
  left: 5px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 22px;
}

.desktop .text-wrapper-32 {
  color: #ffffff;
  font-family: "Arial-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .lorem-ipsum-dolor-3 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 25px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 315px;
  width: 259px;
}

.desktop .text-wrapper-33 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 18px;
}

.desktop .card-2 {
  box-shadow: 0px 1px 5px #00000040;
  height: 400px;
  left: 990px;
  position: absolute;
  top: 458px;
  width: 316px;
}

.desktop .overlap-14 {
  background-color: #e3e3e3;
  border-radius: 10px;
  height: 400px;
  position: relative;
  width: 310px;
}

.desktop .overlap-15 {
  background-color: #ffffff;
  border-radius: 10px 10px 0px 0px;
  height: 231px;
  left: 0;
  position: absolute;
  top: 0;
  width: 310px;
}

.desktop .bookmark-5 {
  height: 32px;
  left: 259px;
  position: absolute;
  top: 0;
  width: 25px;
}

.desktop .overlap-group-6 {
  height: 75px;
  left: 19px;
  position: absolute;
  top: 233px;
  width: 201px;
}

.desktop .kang-s-wok-5 {
  color: #000000;
  font-family: "Arial-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 45px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 156px;
}

.desktop .text-wrapper-34 {
  color: #000000;
  font-family: "Arial-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .tag-s-8 {
  background-color: #c7c7c7;
  border-radius: 24px;
  height: 32px;
  left: 0;
  position: absolute;
  top: 43px;
  width: 108px;
}

.desktop .restaurant-9 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 17px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 6px;
}

.desktop .text-wrapper-35 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .tag-s-9 {
  background-color: #c7c7c7;
  border-radius: 24px;
  height: 32px;
  left: 114px;
  position: absolute;
  top: 43px;
  width: 87px;
}

.desktop .restaurant-10 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 17px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 6px;
}

.desktop .text-wrapper-36 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .overlap-16 {
  background-color: #4d4d4d;
  border-radius: 16px/15.92px;
  height: 32px;
  left: 257px;
  position: absolute;
  top: 241px;
  width: 32px;
}

.desktop .element-9 {
  color: #ffffff;
  font-family: "Arial-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  height: 14px;
  left: 5px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 22px;
}

.desktop .text-wrapper-37 {
  color: #ffffff;
  font-family: "Arial-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .lorem-ipsum-dolor-4 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 25px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 315px;
  width: 259px;
}

.desktop .text-wrapper-38 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 18px;
}

.desktop .group-3 {
  height: 400px;
  left: 330px;
  position: absolute;
  top: 2px;
  width: 312px;
}

.desktop .overlap-17 {
  background-color: #e3e3e3;
  border-radius: 20px;
  box-shadow: 2px 2px 4px #00000040;
  height: 400px;
  position: relative;
  width: 310px;
}

.desktop .rectangle-2 {
  background-color: #ffffff;
  border-radius: 20px 20px 0px 0px;
  height: 232px;
  left: 0;
  position: absolute;
  top: 0;
  width: 310px;
}

.desktop .overlap-group-7 {
  height: 56px;
  left: 19px;
  position: absolute;
  top: 234px;
  width: 156px;
}

.desktop .kang-s-wok-6 {
  color: #000000;
  font-family: "Arial-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 45px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 156px;
}

.desktop .text-wrapper-39 {
  color: #000000;
  font-family: "Arial-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rating {
  height: 16px;
  left: 0;
  position: absolute;
  top: 40px;
  width: 138px;
}

.desktop .vector-2 {
  height: 16px;
  left: 0;
  position: absolute;
  top: 0;
  width: 17px;
}

.desktop .vector-3 {
  height: 16px;
  left: 22px;
  position: absolute;
  top: 0;
  width: 17px;
}

.desktop .vector-4 {
  height: 16px;
  left: 43px;
  position: absolute;
  top: 0;
  width: 17px;
}

.desktop .vector-5 {
  height: 16px;
  left: 65px;
  position: absolute;
  top: 0;
  width: 17px;
}

.desktop .vector-6 {
  height: 16px;
  left: 87px;
  position: absolute;
  top: 0;
  width: 17px;
}

.desktop .element-10 {
  color: #5c5c5c;
  font-family: "Arial-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  height: 14px;
  left: 114px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 22px;
}

.desktop .text-wrapper-40 {
  color: #5c5c5c;
  font-family: "Arial-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .location-2 {
  height: 16px;
  left: 244px;
  position: absolute;
  top: 248px;
  width: 54px;
}

.desktop .element-km {
  color: #000000;
  font-family: "Arial-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  height: 14px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 40px;
}

.desktop .text-wrapper-41 {
  color: #000000;
  font-family: "Arial-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .vector-7 {
  height: 16px;
  left: 39px;
  position: absolute;
  top: 0;
  width: 13px;
}

.desktop .tag-s-10 {
  background-color: #c7c7c7;
  border-radius: 24px;
  height: 32px;
  left: 19px;
  position: absolute;
  top: 313px;
  width: 108px;
}

.desktop .restaurant-11 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 17px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 6px;
}

.desktop .text-wrapper-42 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .tag-s-11 {
  background-color: #c7c7c7;
  border-radius: 24px;
  height: 32px;
  left: 19px;
  position: absolute;
  top: 351px;
  width: 161px;
}

.desktop .restaurant-12 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 17px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 6px;
}

.desktop .text-wrapper-43 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .tag-s-12 {
  background-color: #c7c7c7;
  border-radius: 24px;
  height: 32px;
  left: 132px;
  position: absolute;
  top: 313px;
  width: 87px;
}

.desktop .restaurant-13 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 17px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 6px;
}

.desktop .text-wrapper-44 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .group-4 {
  height: 400px;
  left: 660px;
  position: absolute;
  top: 2px;
  width: 312px;
}

.desktop .overlap-18 {
  background-color: #e3e3e3;
  border-radius: 20px;
  box-shadow: 2px 2px 4px #00000040;
  height: 400px;
  position: relative;
  width: 310px;
}

.desktop .overlap-group-8 {
  background-color: #ffffff;
  border-radius: 20px 20px 0px 0px;
  height: 232px;
  left: 0;
  position: absolute;
  top: 0;
  width: 310px;
}

.desktop .vector-8 {
  height: 24px;
  left: 272px;
  position: absolute;
  top: 8px;
  width: 25px;
}

.desktop .kang-s-wok-7 {
  color: #000000;
  font-family: "Arial-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 45px;
  left: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 234px;
  width: 156px;
}

.desktop .text-wrapper-45 {
  color: #000000;
  font-family: "Arial-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .vector-9 {
  height: 16px;
  left: 281px;
  position: absolute;
  top: 248px;
  width: 13px;
}

.desktop .tag-s-13 {
  background-color: #c7c7c7;
  border-radius: 24px;
  height: 32px;
  left: 19px;
  position: absolute;
  top: 344px;
  width: 87px;
}

.desktop .restaurant-14 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 17px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 6px;
}

.desktop .text-wrapper-46 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .group-5 {
  height: 16px;
  left: 19px;
  position: absolute;
  top: 280px;
  width: 138px;
}

.desktop .vector-10 {
  height: 16px;
  left: 0;
  position: absolute;
  top: 0;
  width: 17px;
}

.desktop .vector-11 {
  height: 16px;
  left: 22px;
  position: absolute;
  top: 0;
  width: 17px;
}

.desktop .vector-12 {
  height: 16px;
  left: 43px;
  position: absolute;
  top: 0;
  width: 17px;
}

.desktop .vector-13 {
  height: 16px;
  left: 65px;
  position: absolute;
  top: 0;
  width: 17px;
}

.desktop .vector-14 {
  height: 16px;
  left: 87px;
  position: absolute;
  top: 0;
  width: 17px;
}

.desktop .element-11 {
  color: #5c5c5c;
  font-family: "Arial-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  height: 14px;
  left: 114px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 22px;
}

.desktop .text-wrapper-47 {
  color: #5c5c5c;
  font-family: "Arial-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .group-6 {
  height: 400px;
  left: 990px;
  position: absolute;
  top: 0;
  width: 312px;
}

.desktop .overlap-19 {
  background-color: #e3e3e3;
  border-radius: 20px;
  box-shadow: 0px 0px 4px #00000040;
  height: 400px;
  position: relative;
  width: 310px;
}

.desktop .overlap-group-9 {
  background-color: #ffffff;
  border-radius: 20px 20px 0px 0px;
  height: 232px;
  left: 0;
  position: absolute;
  top: 0;
  width: 310px;
}

.desktop .vector-15 {
  height: 24px;
  left: 272px;
  position: absolute;
  top: 8px;
  width: 25px;
}

.desktop .kang-s-wok-8 {
  color: #000000;
  font-family: "Arial-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 45px;
  left: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 234px;
  width: 156px;
}

.desktop .text-wrapper-48 {
  color: #000000;
  font-family: "Arial-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .vector-16 {
  height: 16px;
  left: 281px;
  position: absolute;
  top: 248px;
  width: 13px;
}

.desktop .tag-s-14 {
  background-color: #c7c7c7;
  border-radius: 24px;
  height: 32px;
  left: 19px;
  position: absolute;
  top: 344px;
  width: 108px;
}

.desktop .restaurant-15 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 17px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 6px;
}

.desktop .text-wrapper-49 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .tag-s-15 {
  background-color: #c7c7c7;
  border-radius: 24px;
  height: 32px;
  left: 133px;
  position: absolute;
  top: 344px;
  width: 87px;
}

.desktop .restaurant-16 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 17px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 6px;
}

.desktop .text-wrapper-50 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .group-7 {
  height: 16px;
  left: 19px;
  position: absolute;
  top: 280px;
  width: 138px;
}

.desktop .vector-17 {
  height: 16px;
  left: 0;
  position: absolute;
  top: 0;
  width: 17px;
}

.desktop .vector-18 {
  height: 16px;
  left: 22px;
  position: absolute;
  top: 0;
  width: 17px;
}

.desktop .vector-19 {
  height: 16px;
  left: 43px;
  position: absolute;
  top: 0;
  width: 17px;
}

.desktop .vector-20 {
  height: 16px;
  left: 65px;
  position: absolute;
  top: 0;
  width: 17px;
}

.desktop .vector-21 {
  height: 16px;
  left: 87px;
  position: absolute;
  top: 0;
  width: 17px;
}

.desktop .element-12 {
  color: #5c5c5c;
  font-family: "Arial-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  height: 14px;
  left: 114px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 22px;
}

.desktop .text-wrapper-51 {
  color: #5c5c5c;
  font-family: "Arial-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .vector-22 {
  height: 32px;
  left: 587px;
  position: absolute;
  top: 2px;
  width: 25px;
}

.desktop .button {
  background-color: #ffffff;
  border-radius: 40px;
  height: 56px;
  left: 1107px;
  position: absolute;
  top: 1013px;
  width: 193px;
}

.desktop .view-more {
  color: #000000;
  font-family: "Arial-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 23px;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
}

.desktop .text-wrapper-52 {
  color: #000000;
  font-family: "Arial-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .maki-arrow {
  height: 22px;
  left: 141px;
  position: absolute;
  top: 17px;
  width: 22px;
}

.desktop .section-head {
  height: 91px;
  left: 0;
  position: absolute;
  top: 0;
  width: 581px;
}

.desktop .trending-restaurants {
  color: #000000;
  font-family: "Arial-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  height: 91px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  width: 330px;
}

.desktop .text-wrapper-53 {
  color: #000000;
  font-family: "Arial-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .location-wrapper {
  height: 41px;
  left: 366px;
  position: absolute;
  top: 25px;
  width: 215px;
}

.desktop .location-3 {
  height: 41px;
  position: relative;
  width: 217px;
}

.desktop .vector-23 {
  height: 32px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 25px;
}

.desktop .los-angeles-2 {
  color: #000000;
  font-family: "Arial-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 41px;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 188px;
}

.desktop .text-wrapper-54 {
  color: #000000;
  font-family: "Arial-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .button-2 {
  background-color: #ffffff;
  border-radius: 40px;
  height: 56px;
  left: 1177px;
  position: absolute;
  top: 2736px;
  width: 193px;
}

.desktop .view-more-2 {
  color: #000000;
  font-family: "Arial-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 23px;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
}

.desktop .text-wrapper-55 {
  color: #000000;
  font-family: "Arial-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .maki-arrow-2 {
  height: 22px;
  left: 141px;
  position: absolute;
  top: 17px;
  width: 22px;
}

.desktop .overlap-20 {
  height: 512px;
  left: 70px;
  position: absolute;
  top: 2184px;
  width: 642px;
}

.desktop .trending-movies-TV-wrapper {
  height: 91px;
  left: 0;
  position: absolute;
  top: 0;
  width: 402px;
}

.desktop .trending-movies-TV {
  color: #000000;
  font-family: "Arial-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  height: 91px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  width: 402px;
}

.desktop .text-wrapper-56 {
  color: #000000;
  font-family: "Arial-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .movie-card {
  height: 424px;
  left: 0;
  position: absolute;
  top: 88px;
  width: 310px;
}

.desktop .movie-card-2 {
  box-shadow: 0px 2px 5px #00000040;
  height: 424px;
  left: 330px;
  position: absolute;
  top: 88px;
  width: 312px;
}

.desktop .overlap-21 {
  background-color: #ffffff;
  border-radius: 10px;
  height: 424px;
  position: relative;
  width: 310px;
}

.desktop .line-wrapper {
  background-image: url(../../../static/img/line-1-4.png);
  background-size: 100% 100%;
  height: 424px;
  left: 0;
  position: absolute;
  top: 0;
  width: 310px;
}

.desktop .line-2 {
  height: 423px;
  left: 0;
  position: absolute;
  top: 0;
  width: 310px;
}

.desktop .rectangle-3 {
  background-color: #00000066;
  border-radius: 0px 0px 10px 10px;
  height: 120px;
  left: 0;
  position: absolute;
  top: 304px;
  width: 310px;
}

.desktop .movie-title {
  color: #ffffff;
  font-family: "Arial-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 45px;
  left: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 303px;
  width: 156px;
}

.desktop .text-wrapper-57 {
  color: #ffffff;
  font-family: "Arial-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rating-2 {
  height: 16px;
  left: 19px;
  position: absolute;
  top: 341px;
  width: 138px;
}

.desktop .vector-24 {
  height: 16px;
  left: 0;
  position: absolute;
  top: 0;
  width: 17px;
}

.desktop .vector-25 {
  height: 16px;
  left: 22px;
  position: absolute;
  top: 0;
  width: 17px;
}

.desktop .vector-26 {
  height: 16px;
  left: 43px;
  position: absolute;
  top: 0;
  width: 17px;
}

.desktop .vector-27 {
  height: 16px;
  left: 65px;
  position: absolute;
  top: 0;
  width: 17px;
}

.desktop .vector-28 {
  height: 16px;
  left: 87px;
  position: absolute;
  top: 0;
  width: 17px;
}

.desktop .element-13 {
  color: #d9d9d9;
  font-family: "Arial-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  height: 14px;
  left: 114px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 22px;
}

.desktop .text-wrapper-58 {
  color: #d9d9d9;
  font-family: "Arial-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .tag-s-16 {
  background-color: #c7c7c7;
  border-radius: 24px;
  height: 32px;
  left: 19px;
  position: absolute;
  top: 376px;
  width: 73px;
}

.desktop .restaurant-17 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 17px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 6px;
}

.desktop .text-wrapper-59 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .tag-s-17 {
  background-color: #c7c7c7;
  border-radius: 24px;
  height: 32px;
  left: 97px;
  position: absolute;
  top: 376px;
  width: 88px;
}

.desktop .restaurant-18 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 17px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 6px;
}

.desktop .text-wrapper-60 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .movie-card-3 {
  box-shadow: 0px 2px 5px #00000040;
  height: 424px;
  left: 730px;
  position: absolute;
  top: 2272px;
  width: 312px;
}

.desktop .overlap-22 {
  background-color: #ffffff;
  border-radius: 10px;
  height: 424px;
  position: relative;
  width: 310px;
}

.desktop .x-2 {
  background-image: url(../../../static/img/line-1-4.png);
  background-size: 100% 100%;
  height: 424px;
  left: 0;
  position: absolute;
  top: 0;
  width: 310px;
}

.desktop .line-3 {
  height: 423px;
  left: 0;
  position: absolute;
  top: 0;
  width: 310px;
}

.desktop .rectangle-4 {
  background-color: #00000066;
  border-radius: 0px 0px 10px 10px;
  height: 120px;
  left: 0;
  position: absolute;
  top: 304px;
  width: 310px;
}

.desktop .movie-title-2 {
  color: #ffffff;
  font-family: "Arial-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 45px;
  left: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 303px;
  width: 156px;
}

.desktop .text-wrapper-61 {
  color: #ffffff;
  font-family: "Arial-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rating-3 {
  height: 16px;
  left: 19px;
  position: absolute;
  top: 341px;
  width: 138px;
}

.desktop .vector-29 {
  height: 16px;
  left: 0;
  position: absolute;
  top: 0;
  width: 17px;
}

.desktop .vector-30 {
  height: 16px;
  left: 22px;
  position: absolute;
  top: 0;
  width: 17px;
}

.desktop .vector-31 {
  height: 16px;
  left: 43px;
  position: absolute;
  top: 0;
  width: 17px;
}

.desktop .vector-32 {
  height: 16px;
  left: 65px;
  position: absolute;
  top: 0;
  width: 17px;
}

.desktop .vector-33 {
  height: 16px;
  left: 87px;
  position: absolute;
  top: 0;
  width: 17px;
}

.desktop .element-14 {
  color: #d9d9d9;
  font-family: "Arial-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  height: 14px;
  left: 114px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 22px;
}

.desktop .text-wrapper-62 {
  color: #d9d9d9;
  font-family: "Arial-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .tag-s-18 {
  background-color: #c7c7c7;
  border-radius: 24px;
  height: 32px;
  left: 19px;
  position: absolute;
  top: 376px;
  width: 73px;
}

.desktop .restaurant-19 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 17px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 6px;
}

.desktop .text-wrapper-63 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .tag-s-19 {
  background-color: #c7c7c7;
  border-radius: 24px;
  height: 32px;
  left: 97px;
  position: absolute;
  top: 376px;
  width: 88px;
}

.desktop .restaurant-20 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 17px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 6px;
}

.desktop .text-wrapper-64 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .movie-card-4 {
  box-shadow: 0px 2px 5px #00000040;
  height: 424px;
  left: 1060px;
  position: absolute;
  top: 2272px;
  width: 312px;
}

.desktop .overlap-23 {
  background-color: #ffffff;
  border-radius: 10px;
  height: 424px;
  position: relative;
  width: 310px;
}

.desktop .x-3 {
  background-image: url(../../../static/img/line-1-4.png);
  background-size: 100% 100%;
  height: 424px;
  left: 0;
  position: absolute;
  top: 0;
  width: 310px;
}

.desktop .line-4 {
  height: 423px;
  left: 0;
  position: absolute;
  top: 0;
  width: 310px;
}

.desktop .rectangle-5 {
  background-color: #00000066;
  border-radius: 0px 0px 10px 10px;
  height: 120px;
  left: 0;
  position: absolute;
  top: 304px;
  width: 310px;
}

.desktop .movie-title-3 {
  color: #ffffff;
  font-family: "Arial-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 45px;
  left: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 303px;
  width: 156px;
}

.desktop .text-wrapper-65 {
  color: #ffffff;
  font-family: "Arial-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rating-4 {
  height: 16px;
  left: 19px;
  position: absolute;
  top: 341px;
  width: 138px;
}

.desktop .vector-34 {
  height: 16px;
  left: 0;
  position: absolute;
  top: 0;
  width: 17px;
}

.desktop .vector-35 {
  height: 16px;
  left: 22px;
  position: absolute;
  top: 0;
  width: 17px;
}

.desktop .vector-36 {
  height: 16px;
  left: 43px;
  position: absolute;
  top: 0;
  width: 17px;
}

.desktop .vector-37 {
  height: 16px;
  left: 65px;
  position: absolute;
  top: 0;
  width: 17px;
}

.desktop .vector-38 {
  height: 16px;
  left: 87px;
  position: absolute;
  top: 0;
  width: 17px;
}

.desktop .element-15 {
  color: #d9d9d9;
  font-family: "Arial-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  height: 14px;
  left: 114px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 22px;
}

.desktop .text-wrapper-66 {
  color: #d9d9d9;
  font-family: "Arial-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .tag-s-20 {
  background-color: #c7c7c7;
  border-radius: 24px;
  height: 32px;
  left: 19px;
  position: absolute;
  top: 376px;
  width: 73px;
}

.desktop .restaurant-21 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 17px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 6px;
}

.desktop .text-wrapper-67 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .tag-s-21 {
  background-color: #c7c7c7;
  border-radius: 24px;
  height: 32px;
  left: 97px;
  position: absolute;
  top: 376px;
  width: 88px;
}

.desktop .restaurant-22 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 17px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 6px;
}

.desktop .text-wrapper-68 {
  color: #000000;
  font-family: "Rubik", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .footer {
  background-color: #939393;
  height: 184px;
  left: 0;
  position: absolute;
  top: 2896px;
  width: 1440px;
}

.desktop .LOGO-placeholder-2 {
  height: 88px;
  left: 70px;
  position: relative;
  top: 49px;
  width: 202px;
}

.desktop .overlap-group-10 {
  background-color: #d9d9d9;
  height: 88px;
  position: relative;
  width: 200px;
}

.desktop .LOGO-2 {
  color: #000000;
  font-family: "Arial-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 45px;
  left: 37px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 127px;
}

.desktop .text-wrapper-69 {
  color: #000000;
  font-family: "Arial-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .write-review {
  background-color: #e6e6e6;
  border-radius: 60px;
  box-shadow: 1px 2px 3px #00000040;
  height: 88px;
  left: 1274px;
  position: fixed;
  top: 856px;
  width: 88px;
}

.desktop .group-8 {
  height: 40px;
  left: 24px;
  position: absolute;
  top: 24px;
  width: 40px;
}
